{% extends "network/layout.html" %}

{% block title %}
All Posts
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>All Posts</h1>
    {% include "network/createpost.html" %}
    <br>
    {% csrf_token %}

    {% for post in all_posts %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{post.user.username}}</h4>
            <p class="card-text" id="post_text_{{post.id}}"> {{ post.contents }}</p>
            <p class="card-text ml-auto p-2">{{post.created_dt}}</p>
            <!-- <p class="card-text"></p> -->
        </div>
    </div>
    {% endfor %}
    <br>
    <ul class="pagination justify-content-center">
        {% if all_posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ all_posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}
        {% for i in all_posts.paginator.page_range %}
          {% if all_posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if all_posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ all_posts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>

</div>
{% endblock %}